@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    -fx-font-family: 'Rubik Mono One', sans-serif;    
    -fx-background-color: transparent;
}

.main {
    -fx-background-color: linear-gradient(to bottom, #004203, #007510, #00a516, #00c21a);
}

.lbl-message-imprima {
    -fx-font-size: 50px;
}

.btnImprima {
    -fx-background-color: linear-gradient(to top, #727272, #989898, #B2B2B2, #BFBFBF, #FEFEFE); /* Cor de fundo do botão */
    -fx-background-radius: 20;
    -fx-text-fill: white; /* Cor do texto do botão */
    -fx-font-size: 28px; /* Tamanho da fonte do botão */
    -fx-font-weight: bolder;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 25, 0, 15, 15); /* Efeito de sombra */
}

.btnImprima:hover {
    -fx-background-color: linear-gradient(to top, #363636, #535353, #6b6b6b, #616161, #818181); /* Cor de fundo do botão */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 25, 0, 15, 15); /* Efeito de sombra */
}
